    <nav class="navbar sticky-top navbar-light bg-light navbar-gradient">
      <a class="navbar-brand" href="#">
        <i class="fa fa-car" class="d-inline-block align-top"></i>
        Valet App
      </a>
    </nav>
    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <p class="h1">
              Thank you for using VALET APP.
            </p>
            <p class="h3">
              Please show this QR Code to the valet for verification.
            </p>
            <div class="col">
              <!-- <div id="qrcode-container"></div> -->
              <img id="qrcode-container">
            </div>
          </div>
      </div>
    </div>