    <div class="container">
      <div class="row align-items-center">
        <div class="col text-center">
          <span class="fa fa-car fa-3x"></span>
          <h3>VALET APP</h3>
          <br/><br/>
          <div class="func-buttons">
            <button class="btn btn-lg btn-block" ng-click="gotoTicketGeneration()">Generate Ticket</button>
            <button class="btn btn-lg btn-block" ng-click="gotoValidation()">Scan QR Code</button>
          </div>
          <p>Get Started by generating a ticket or validating a QR Code.</p>
        </div>
      </div>
    </div>